<!DOCTYPE html>

<html>
<head>
    <title>My Razor App</title>
</head>
<body>
    <header>
        <partial name="NavMenuPartial" />
        @* @Html.Partial("Shared/NavMenuPartial") *@
    </header>
    <main> 
        @RenderBody()
    </main>
</body>
</html>

