<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"] - FeRazorApp </title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/FeRazorApp.styles.css" asp-append-version="true">
</head>
<body>
    <header>
        <partial name="NavMenuPartial" />
        @* @Html.Partial("Shared/NavMenuPartial") *@
    </header>
    <main> 
        @RenderBody()
    </main>
    <footer>
        2023 - Powered by FelipeDev
    </footer>
    @RenderSection(name:"scripts", required:false)
</body>
</html>

