@page "~/categorias/{skip?}/{take?}"
@model FeRazorApp.Pages.CategoriesModel
@{
    ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>
<table>
    <thread>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Price</td>
        <tr>
    </thread>
    <tbody>
        @foreach (var Category in Model.CategoryList)
        {
            <tr>
                <td>@Category.Id</td>
                <td>@Category.Title</td>
                <td>@Category.Price.ToString(format: "C", provider: new CultureInfo(name: "pt-BR"))</td>
            </tr>
        }
    </tbody>
</table>
