@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using FeRazorApp.Pages;
@using System.Globalization;
@model FeRazorApp.Pages.IndexModel
@{
    <!DOCTYPE html>
    <html>
    <head>
        <partial name="NavMenuPartial" /> @*
        @* @Html.Partial("Shared/NavMenuPartial") *@
    </head>
    <body>
        <div>
            <h1>Categorias</h1>
            <table>
                <thread>
                    <tr>
                        <td>ID</td>
                        <td>Title</td>
                        <td>Price</td>
                    <tr>
                </thread>
                <tbody>
                    @foreach (var Category in Model.Categories)
                    {
                        <tr>
                            <td>@Category.Id</td>
                            <td>@Category.Title</td>
                            <td>@Category.Price.ToString(format: "C", provider: new CultureInfo(name: "pt-BR"))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
    </html>
}
