@page
@model FeRazorApp.Pages.LoginModel
@{
    <html>
    <head>
        <partial name="NavMenuPartial" />
        <title></title>
    </head>
    <body>
        <div>
            <h1>Login</h1>
        </div>
    </body>
    </html>
}
